---
title: Blog
layout: default
sectionid: News
permalink: /allposts/
---

<div class="container">
    <div class="inner-content">
        <h1>All Posts</h1>
        <div class="post-content">
        {% for page in site.posts %}
        <p>
            <strong><a href="{{ page.url | relative_url }}">{{ page.title }}</a></strong>
            <span>on {{ page.date | date: "%B %e, %Y" }} {% if page.author %} by {{ page.author }}{% endif %}</span>
            <span>{{ page.excerpt }}</span>
        </p><hr>
        {% endfor %}
        </div>
    </div>
</div>
